html {
    scroll-behavior: smooth;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }

}


@media screen and (max-width: 1700px) {

    body {
        margin: 10px 60px;
    }

    .text {
        padding: 0 20px;
    }

    .cards {
        margin: 1% 10%;
        padding-bottom: 50px;
    }

    .card_about {
        margin: 0 5%;
    }

    .card_b {
        margin: 0 10%;
    }

}

@media screen and (max-width: 950px) {

    .navbar-text {
        padding-right: 20px;
    }

    body {
        margin: 0;
    }

    .pro_1 {
        display: none;
    }
}



/* nav bar  style  */
#home {
    position: sticky;
    top: 0;
}

/* profile style  */


div.container_a {
    margin-top: 10px;
    background-color: #6e00ff;
    max-width: 100%;
    display: grid;
    border-radius: 10px;
}

.cards {

    width: auto;
    display: grid;
    grid-gap: 10px;
    justify-self: center;
    align-items: center;
    font-weight: normal;
    background-color: #6e00ff;
    border-color: #6e00ff;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.cards>article.prof {
    border: none;
    padding-bottom: 20px;
    border-radius: 10mm;
    text-align: center;
    justify-self: center;
    border-radius: 39px;
    background: #6700ff;
    box-shadow: inset 5px -5px 49px #6e00ff,
        inset -5px 5px 49px #efd5ff;
}


.cards>article {
    border: none;
    text-align: center;
    width: 80%;

}

.c .cards>article img:first-child {
    width: 100%;
    height: 100%;
}

.cards>article img {
    width: 80%;
    border-top-right-radius: 7mm;
    border-top-left-radius: 7mm;
}

.text {
    padding: 0 10px;
    font-family: sans-serif;
}


.wordCarousel {
    font-weight: 100;
    color: #eee;
}

.animate {
    overflow: hidden;
    position: relative;
    height: 85px;
    padding-top: 10px;
    margin-top: -10px;
}

.flip4>li {
    font-family: Serif;
    color: #ff64cb;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;

}


.flip3 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}



@keyframes flip3 {
    0% {
        margin-top: -180px;
    }

    5% {
        margin-top: -90px;
    }

    50% {
        margin-top: -90px;
    }

    55% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@keyframes flip4 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}



/* ABOUT STYLE  */

div.container_about {
    margin-top: 10px;
    background-color: #72c3fa;
    max-width: 100%;
    display: grid;
    border-radius: 10px;
}


.card_about {
    /* margin: 0 10%; */
    padding: 30px 50px 50px 50px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    align-items: unset;
    justify-content: space-around;
    text-align: justify;
    font-weight: bold;
    color: #fff;
    background-color: #6700ee;
    border: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media only screen and (max-width: 1400px) {

    [class*="col-"] {
        width: 100%;
    }
}

/* TIMELINE STYLE  */

* {
    box-sizing: border-box;
}

.timeline {
    border-left: 3px solid #00f7ff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1.5px dashed #ff64cb;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-year);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    box-shadow: 0 0 0 3px #00f7ff;
    left: -55.8px;
    background: #FF64CB;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* SKILLS STYLE  */
div.container_b {
    margin-top: 10px;
    background-color: #6700ee;
    max-width: 100%;
    display: grid;
    border-radius: 10px;
}


.card_b {
    /* margin: 0 10%; */
    padding: 30px 70px 50px 70px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: bolder;
    color: #FFF;
    background-color: #6700ee;
    border: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.progress {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    border: 2px solid #fff;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: grid;
    height: 30px;
    width: auto;
}

.progress-value {
    animation: load 5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ff64cb;
    height: 20px;
    width: 0;
}


@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.progress-value1 {
    animation: load1 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ff64cb;
    height: 20px;
    width: 0;
}


@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.progress-value2 {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ff64cb;
    height: 20px;
    width: 0;
}


@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.progress-value3 {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ff64cb;
    height: 20px;
    width: 0;
}


@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

.progress-value4 {
    animation: load4 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ff64cb;
    height: 20px;
    width: 0;
}

/* contact style */